@model SentimentBusinessLogic.ViewModels.SentenceIndexViewModel

<h1>Új mondatok felvitele</h1>
<br />
A kívánt mondat szövege: 
<input type="text" id="txtSentence" />
<input type="button" value="Mentés" onclick="OnClick_Save()" />

<hr />

Vagy válassz egy fájlt:
<input type="file" />


<script type="text/javascript">
    
    function OnClick_Save() {

    }

</script>