@model SentimentBusinessLogic.ViewModels.AddRatingViewModel
<p>@Model.SentenceText</p>
<input type="hidden" value="@Model.SentenceOID"/>
<input type="button" value="Pozitív" />
<input type="button" value="Negatív" />
<input type="button" value="Nem tudom" />
