@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<table>
    <thead>
        <tr>
            <th>Sorszám</th>
            <th>Karakter</th>
            <th>asd</th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < 20; i++)
        {
            <text>
            <tr>
                <td>@i.ToString()</td>
                <td>fd</td>
                <td>aesdé</td>
            </tr>
            </text>

        }
    </tbody>
</table>