@model SentimentBusinessLogic.ViewModels.PrivacyViewModel

@{
    ViewData["Title"] = "AB pp";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<p>@Model.PrivacyStatement</p>